{% load static %}
<html>
<head>
  <title>
    {% block title %} HDS {% endblock %}
  </title>    
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>
<body>
  {% if 'login' not in request.path %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo.png' %}" width="180" height="70" alt="HDS Error Report">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar1">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link 2</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">

          <form class="form-inline">
            {% if user.is_authenticated %}
              <li class="nav-item font-weight-bold mr-5">
                 {{ user.username }}
              </li>            
            
              <button class="btn btn-warning button-large my-2 my-sm-0" type="submit">
                <a style="color:inherit" href="/logout">Logout</a>
              </button>
            {% else %}            
              <button class="btn btn-warning button-large my-2 my-sm-0" type="submit">
                <a style="color:inherit" href="/login">Login</a>
              </button>      
            {% endif %}
          </form>

      </ul>
    </div>

  </nav>
  {% endif %}
  {% block content %}{% endblock content %}
 
</body>
</html>