<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script> <!--Get Plotly-->
<script>
    // Plotly 
    const r = 'rgb(230, 2, 2)';
    const y = 'rgb(227, 220, 5)';
    const g = 'rgb(72, 191, 8)';

    const labels = [
        "Last Offset",
        "RMS Offset"
    ];

    const chronyLayout = {
        autosize: false,
        width: 500,
        height: 300,
        margin: {
            l: 100,
            r: 0,
            b: 50,
            t: 30,
            pad: 0
        },
        xaxis: {
            type: 'log',
            range: [-4, 1.5],
            title: "seconds"
        },
    };

    function masterColor(offset_seconds) {
        if (Math.abs(offset_seconds) < 1) {
            return g;
        } else if ((Math.abs(offset_seconds)) < 10) {
            return y;
        } else {
            return r;
        }
    };

    function robotColor(offset_seconds) {
        if (Math.abs(offset_seconds) < 0.1) {
            return g;
        } else if (Math.abs(offset_seconds) < 1) {
            return y;
        } else {
            return r;
        }
    }

    function makeChronyData(last_offset, rms_offset) {
        return data = [{
            type: 'bar',
            x: [Math.abs(last_offset), rms_offset],
            y: ['Last Offset', 'RMS Offset'],
            orientation: 'h',
            marker: {
                color: [
                    masterColor(Math.abs(last_offset)),
                    masterColor(rms_offset)
                ]
            }
        }];
    };

    // Datetime formatting
    function padZeros(str_to_pad, digits) {
        return str_to_pad.toString().padStart(digits, '0')
    }

    function formatDate(date) {
        var y = date.getFullYear().toString()
        var M = padZeros(date.getMonth() + 1, 2)
        var d = padZeros(date.getDate(), 2)
        var h = padZeros(date.getHours(), 2)
        var m = padZeros(date.getMinutes(), 2)
        var s = padZeros(date.getSeconds(), 2)
        return y + M + d + h + m + s
    }
</script>