{% extends "base.html" %}
{% block title %} HDS: Login {% endblock %}

{% block content %}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="content">
      <img src="/static/images/logo.png" width="300">
      <form method="post">
        {% if message %}
          <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
      </form>
    </div>  
  </div>
{% endblock content %}

