.fa_logout_icon {
  background-image: url(../../../public/icons/icons15.png);
  background-position: 0px -46px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
