* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.admin-route {
  margin-left: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.username {
  margin-right: 1rem;
}

.multi-select-container {
  width: 100% !important;
}

.btn-primary {
  color: #fff;
  background-color: #1266f1;
}

.btn-warning {
  color: #fff;
  background-color: #ffa900;
}

.btn {
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  user-select: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cursor {
  cursor: pointer;
}

@media (max-width: 768px) {
  .custom-multiselect-control {
    width: 100% !important;
  }

  .multi-select-container {
    width: 100% !important;
  }
}
